.controller {
  width: 320px;
  margin-left: calc(100% - 320px);
  color: $color-achromatic1;

  .controller__title {
    margin-top: 40px;
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
    p {
      font: 900 12px/24px $font-main-en;
      padding: 0 6px;
      border: 2px solid $color-main;
      border-radius: 30px;
      margin-left: 200px;
    }
  }

  .controller__section {
    padding: 20px;
    fieldset {
      text-align: left;
      legend {
        font: $font-sub-en;
        margin-bottom: 12px;
      }
      .input_wrap {
        display: inline-block;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        overflow: hidden;
      }
      .text_wrap {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        margin-top: 4px;
        p {
          font: $font-contents-en;
        }
      }
    }
  }
}