.display {
  display: flex;
  width: calc(100% - 320px);
  height: 100%;
  background: gray;
  position: fixed;
  align-items: center;
  justify-content: center;

  .display__contents {
    max-width: 100%;
    max-height: 100%;
    // width: 100%;
    // height: 100%;
    position: relative;

    canvas {
      position: absolute;
      width: 100%;
      min-height: 100%;
    }
  
    img {
      width: 100%;
      height: 100%;
    }
  }
}
