$font-main-en: 'Lato';
$font-main-ko: 'Noto Sans KR';
$font-brand: 'Pacifico';

@import url('https://fonts.googleapis.com/css?family=#{$font-main-en}:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=#{$font-main-ko}:400,700&subset=korean');
@import url('https://fonts.googleapis.com/css?family=#{$font-brand}');

$font-title-en: 400 40px/60px $font-main-en;
$font-sub-en: 900 20px/26px $font-main-en;
$font-contents-en: 400 14px/24px $font-main-en;
$font-description-en: 300 10px/14px $font-main-en;

$font-contents-ko: 18px/25px $font-main-ko;
