$color-achromatic1: #f8f9fa;
$color-achromatic2: #e9ecef;
$color-achromatic3: #dee2e6;
$color-achromatic4: #ced4da;
$color-achromatic5: #adb5bd;
$color-achromatic6: #868e96;
$color-achromatic7: #6c757d;
$color-achromatic8: #495057;
$color-achromatic9: #212529;

$color-black: #000;
$color-white: #fff;

$color-main: #4CB8C4;
$color-main2: #3CD3AD;
$color-main-gradient: linear-gradient(to left, $color-main2, $color-main);

$color-danger: #cd384a;

