.button {
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 0;
  margin: 4px 0;
  background: $color-main;
  &:hover {
    background: $color-main2;
  }
}

.danger {
  background: $color-danger;
  &:hover {
    background: red;
  }
}

input[type="color"] {
  display: block;
  width: 130%;
  height: 140%;
  border: 0;
  background: none;
  margin-top: -20%;
  margin-left: -15%;
  cursor: pointer;
}

.icon {
  width: 60px;
  height: 60px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 4px;
  background: $color-main;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 2px;
  margin-top: 6px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 14px;
    height: 14px; 
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }
}