.button {
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 0;
  margin: 4px 0;
  background: $color-main;
  &:hover {
    background: $color-main2;
  }
}

.danger {
  background: $color-danger;
  &:hover {
    background: red;
  }
}

input[type="color"] {
  display: block;
  width: 120%;
  height: 120%;
  border: 0;
  background: none;
  margin-top: -10%;
  margin-left: -10%;
  cursor: pointer;
}

.icon {
  width: 60px;
  height: 60px;
}