.upload {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .upload__title {
    h1 {
      font-size: 120px;
      line-height: 140px;
    }
    p {
      font: $font-sub-en;
      padding: 3px 9px;
      border: 4px solid $color-main;
      border-radius: 60px;
      margin-left: 460px;
    }
  }

  .upload__contents {
    width: 840px;
    padding: 120px;
    box-sizing: border-box;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);

    .upload__description {
      margin-top: 30px;
      font: $font-contents-ko;
      color: $color-achromatic8;
    }

    .upload__drop-zone {
      width: 600px;
      height: 200px;
      background: $color-achromatic3;
      border: 4px dashed $color-achromatic4;
      border-radius: 12px;
      margin-top: 30px;
      cursor: pointer;

      &:hover {
        background: $color-achromatic2;
      }

      .icon {
        margin-top: 20px;
        width: 80px;
        height: 80px;
        color: $color-achromatic4;
      }

      input[type="file"] {
        display: none;
      }

      h2 {
        margin-top: 20px;
        color: $color-achromatic5;
        font: $font-sub-en;
      }

      p {
        color: $color-achromatic6;
        font: $font-contents-en;
      }

      &.drop-target {
        border-color: $color-main;
        border-style: solid;

        h2, p {
          color: $color-main;
        }
      }
    }
  }
}
