.upload {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  .upload__contents {
    width: 600px;
    padding: 120px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);

    .upload__drop-zone {
      background: $color-achromatic3;
      border: 4px dashed $color-achromatic4;
      border-radius: 12px;
      margin-top: 50px;
      height: 200px;
      cursor: pointer;

      &:hover {
        background: $color-achromatic2;
      }

      input[type="file"] {
        display: none;
      }

      h2 {
        margin-top: 20px;
        color: $color-achromatic5;
        font: $font-sub-en;
      }

      p {
        color: $color-achromatic6;
        font: $font-contents-en;
      }

      &.drop-target {
        border-color: $color-main;
        border-style: solid;

        h2, p {
          color: $color-main;
        }
      }
    }
  }
}
 