@import './generic/font.scss';
@import './generic/reset.scss';
@import './generic/color.scss';
@import './generic//ui.scss';

@import './pages/upload.scss';
@import './pages/poly-edit.scss';

@import './components/app-title.scss';
@import './components/controller.scss';
@import './components/display.scss';
@import './components/app.scss';

body {
  background: $color-achromatic9;
}